	<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UPLOAD FILES</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom datePicker -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <include file="./Application/Home/View/Index/nav.html"/>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Create New User</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        新規学生情報入力
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-offset-2">
                                <form role="form" action="__SELF__" method="post">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon span-width">氏名（ex.tarou）</span>
                                        <input type="text" class=" form-control" name="stuname" placeholder="tarou">
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon span-width">生年月日</span>
                                        <div class='input-group date' id='datetimepicker'>
                                            <input type='text' class="form-control"  name="birthday" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon span-width">所属学校</span>
                                        <!--<input type="text" class="form-control" name="school_type">-->
                                        <select class="form-control" name="school_type">
                                            <option>海外日本人学校</option>
											<option>海外の教育機関</option>
                                            <option>日本の一般的な公立、私立の学校</option>
                                            <option>インターナショナルスクール</option>
                                            <option>外国人学校</option>
                                            <option>その他</option>
                                        </select>

                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon span-width">テスト実施者・機関</span>
                                        <select class="form-control" name="school_name">
                                            <option>海外日本人学校</option>
											<option>海外の教育機関</option>
                                            <option>日本の一般的な公立、私立の学校</option>
                                            <option>インターナショナルスクール</option>
                                            <option>外国人学校</option>
                                            <option>日本語補習校</option>
                                            <option>塾・語学学校</option>
                                            <option>個人</option>
                                            <option>その他</option>
										</select>

                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon span-width">学年</span>
                                        <select class="form-control" name="grade">
                                            <option>1年生</option>
                                            <option>2年生</option>
                                            <option>3年生</option>
                                            <option>4年生</option>
                                            <option>5年生</option>
											<option>6年生</option>
											<option>7年生（中学1年）</option>
											<option>8年生（中学2年）</option>
											<option>9年生（中学3年）</option>
											<option>その他</option>
                                        </select>
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon span-width">組</span>
                                        <input type="text" class="form-control" name="team" placeholder="任意">
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon span-width">番号</span>
                                        <input type="text" class="form-control" name="num" placeholder="任意">
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon span-width">第一言語</span>
                                        <select class="form-control" name="school_location"　>
	                                        <option>日本語</option>
                                            <option>英語</option>
                                            <option>中国語</option>
                                            <option>ポルトガル語</option>
                                            <option>ベトナム語</option>
											<option>フィリピン語</option>
											<option>韓国語</option>
											<option>スペイン語</option>
											<option>タイ語</option>
											<option>その他</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-default">SUBMIT</button>

                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__PUBLIC__/dist/js/sb-admin-2.js"></script>

<!-- datepiker JavaScript-->
<script type="text/javascript" src="__PUBLIC__/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            viewMode: 'years',
            format: 'YYYY/MM/DD'
        });
    });
</script>

</body>

</html>
